table.kanbanTable {
		
}
table.kanbanTable tr {
	vertical-align: top;
}
table.kanbanTable tr td {
	width: 250px;
    padding: 0 10px 0 0;
    border-left:solid 2px white;
}


#kanbanPage h1 {
	font: bold 23px Arial, serif;
	line-height: 27px;
	text-align: center;
    margin: 0;
}

#kanbanPage h2 {
	font: bold 14px Arial, serif;
	line-height: 18px;
	margin: 0 0 18px 0;
	text-align: center;
}

a.bold, a:active.bold, a:visited.bold, a:hover.bold {
    font-weight: bold;
}

div.card {
	background: #f6f6f6;
	border-left: 3px solid #999;
	clear:left;
	float:left;
	font: 10px Tahoma, Arial, sans-serif;
	margin: 0 5% 9px 5px;
	padding: 0;
	line-height: 13px;
	width: 95%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

div.card a {
	text-decoration: none;
}
div.card a:hover {
	text-decoration: underline;
}

div.card div {
	margin: 0;
	padding: 0;
}

div.card div.owner {
	background: #999;
	float:right;
	margin: 1px;
	padding: 3px 3px 3px 0;
	text-align: center;
	width: 100px;
}

div.card div.owner .img-wrap {
	margin: 0 auto;
        width:28px;
        height:28px;
        background:#ccc;
}

div.card a.bugLink {
	font: bold 11px Tahoma, sans-serif;
	line-height: 18px;
        color: black;
}

div.card a.bugLink.right {
	float:right;
        margin-right:5px;
}

div.card a.bugLinkRecent {
	font: bold 16px Tahoma, sans-serif;
	line-height: 20px;
        color: black;
}

div.card a.bugLinkRecent.right {
	float:right;
        margin-right:5px;
}

div.card div.summary {
	font: 10px Arial, sans-serif;
	line-height: 1.5em;
	overflow: hidden;
	padding: 9px;
        font-weight: bold;
}

div.card div.bugTime {
	font-style:italic;
	line-height: 18px;
        clear:both;
        float:left;
        padding-left:2px;
}

div.card div.info {
	line-hegiht: 18px;
	padding: 4px 9px 5px 9px;	
} 
div.card div.info a {
	margin: 0 5px 0 0;
}

div.cardBug { border-color: #c00; }
div.cardBug div.owner { background: #c00; }

div.cardFeature { border-color: #69f; }
div.cardFeature div.owner { background: #69f; }

div.cardDesign { border-color: #9c0; }
div.cardDesign div.owner { background: #9c0; }

div.cardEnhancement { border-color: #609; }
div.cardEnhancement div.owner { background: #609; }



/* SMX styles */
div.card div.priority span {
    font: 10px Arial, sans-serif;    
}
div.card div.priority span.status_10 {
    color: red;
}
div.card div.priority span.status_20,
div.card div.priority span.status_30
{
    color: blue;
}
div.card div.priority span.status_40 {
    color: #808080;
}
div.card div.priority span.status_50 {
    color: orange;
}
div.card div.priority span.status_60,
div.card div.priority span.status_80,
div.card div.priority span.status_90
{
    color: green;
}

td.alert {
    background-color: red;
}
td.projectHeader {
    background-color: #ddd;
    padding: 5px;
    margin: 5px;
}
div.headerProject {
    font-weight: bold;
    color: #ABABAB;
}
td.totalSum {
    font-weight: bold;
    text-align: center;
}
td.totalSum div{
    color: green;
}
td.totalSum div.alert{
    color: red;
}
tr.totalNums td {
    background-color: silver;
}

#ajax_statuschange input,
#ajax_statuschange select
{
    font-size: 9px;
    width: 90px;
}

